main{
    display: flex;
}

#contenedor_cards{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: white;
    width: 100%;
    min-height: 547px;
}

.item_card{
    margin: 40px auto;
    height: 400px;
    width: 230px;
    border: 3px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: #400406;
}
.item_card:hover{
    background-color: #5a0b0d;
}

.item_card_img{
    height: 290px;
    width: 190px;
    margin: 20px 20px 0;
    border-radius: 20px;
    border: black solid;
}
.item_card_img:hover{
    cursor: pointer;
}

.button_card{
    background-color: grey;
    border: black;
    border-style: inherit;
    border-radius: 10px;
}

.button_card:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.margin_top10px{
    margin-top: 10px;
}


